* {margin:0;padding:0; box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css?family=Montserrat|Taviraj');

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color:#808080;
}

a {
	color: inherit;
	text-decoration: none;
}

header {
		color: #5fbfcb;
		width: 100%;
	}

#cart {
	word-spacing: 20px;	
	float: right;
}

#logo {
	font-family: 'Taviraj', serif;
	font-size: 2em;
	color: #5fbfcb;
	font-variant: small-caps;
}

h1 {
	font-family: 'Taviraj', serif;
	letter-spacing: 2px;
	font-size: 2.5em;
	font-variant: small-caps;
}

h1 p {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
}

h2	{ 
	color: #6495ED;
	font-family: 'Taviraj', serif;
	padding-bottom: 20px;
	letter-spacing:1.5px;
	font-weight: lighter;
}

h3 {
	font-family: 'Taviraj', serif;
	font-size: 30px;
	color: white;
	background-color: #ccc;
	width: 150px;
	margin: 20px;
}

h3 a:hover {
	opacity: 0.7;
}



nav a:hover {
	color: #5fcb6b;
}

nav a {
	padding: 20px;
}

main {
	line-height: 1.5;
	text-align:center;
}

img {
	width:15%;
}

footer {
	line-height: 1.5;
	padding:20px;
	background-color: #e6e6e6;
}

footer a {
	color:#6495ED;
	margin-right: 20px;
}






#intro {
	background:url(../images/henryplaying.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 140vh;
	color:white;
	background-color: #FFE2B8;
}

#fashions h2 {
	font-family: 'Taviraj', serif;
	font-size: 40px;
	font-weight: lighter;
}

#fashions img {
	height: 100%;
	padding: 10px;
}

#fashions img:hover {
	opacity: 0.7;
}

#summer {
	background-image: url(../images/HenryBeach.JPG);
	background-size: contain;
	background-repeat: no-repeat;
	height: 40vh;
	background-position: center;
	word-spacing: 5px;
	background-color: #FFE2B8;
}


#left {
    padding: 20px;
    float: left;
    width: 33.3%;
}

#center {
    padding: 20px;
    float: left;   
    width: 33.3%;
}


#right {
    padding: 20px;
    float: left;   
    width: 33.3%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}




