* {margin:0;padding:0; box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css?family=Montserrat|Taviraj');

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color:#808080;
}

a {
	color: inherit;
	text-decoration: none;
}

header {
		color: #5fbfcb;
		width: 100%
	}

header img {
	width: 100%;
}

#navigation {
	word-spacing: 2em;
	padding: 0 0 .5em .5em;
	text-align: center;
}

#navigation a:hover {
	color: #5fcb6b;
}

#cart {
	word-spacing: 1em;	
	float: right;
	padding: .5em .5em 0 0;
}

#logo {
	font-family: 'Taviraj', serif;
	font-size: 2em;
	color: #5fbfcb;
	font-variant: small-caps;
	line-height: 68px;
	overflow: auto;
}

#pear {
	float: left;
}

#name {
	float: left;
}

/* main code start*/

main {
	line-height: 1.5;
	text-align:center;
}



img {
	width:15%;
}

#intro {
	background:url(../images/henryplaying.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	height: 100vh;
	margin: 0 1em 1em 1em;
}

h1 {
	font-family: 'Taviraj', serif;
	letter-spacing: 2px;
	font-size: 2.5em;
	padding-top: 3.5em;
	padding-right: 16em;
	line-height: 1.25;
}

h3 {
	font-family: 'Taviraj', serif;
	font-size: 1.5em;
	color: white;
	background-color: #5fbfcb;
	width: 7em;
	margin-left: 8em;
	margin-top: 1em;
}


h2	{ 
	color: #6495ED;
	font-family: 'Taviraj', serif;
	padding-bottom: 20px;
	letter-spacing:1.5px;
	font-weight: lighter;
}

#fashions h2 {
	font-family: 'Taviraj', serif;
	font-size: 1.5em;
	font-weight: lighter;
}

#fashions img:hover {
	opacity: 0.7;
}

#fashions img {
	padding: 0 1em 0 1em;
}

#summer {
	height: 60vh;
	background-position: center;
	word-spacing: 5px;
	background-color: #e6e6e6;
}

#left {
    padding: 20px;
    float: left;
    width: 33.3%;
}

#center {
    padding: 20px;
    float: left;   
    width: 33.3%;
}


#right {
    padding: 20px;
    float: left;   
    width: 33.3%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

footer {
	line-height: 1.5;
	padding:20px;
	background-color: #e6e6e6;
}

footer a {
	color:#6495ED;
	margin-right: 20px;
}




